.chat {
    position: relative;
    width: 100%;

    border-top: 2px solid var(--purple-750);
    border-right: 2px solid var(--purple-750);
    border-bottom: 2px solid var(--purple-750);

    .messages {
        height: 100%;

        padding: 20px 20px 60px 20px;
        font-size: 1rem;
        color: var(--white);

        display: flex;
        flex-direction: column;

        overflow: auto;

        &::-webkit-scrollbar {
            width: 7px;
            height: 8px;
            background-color: var(--purple-800);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--purple-500);
        }
    }

    .form {
        bottom: -1px;
        position: absolute;
        width: 100%;

        padding: 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        background: var(--purple-900);
        
        input {
            width: 70%;
            height: 40px;

            margin: auto;
            padding: 2px 30px;
        
            border: 2px solid #2a2734;
            border-radius: 10px;
            
            color: var(--white);
            font-size: 1rem;

            background: none;
        
            outline: 0;
        }

        input:focus {
            border-bottom: 2px solid var(--purple-500);
        }

        button {
            width: 20%;
            height: 40px;
            font-size: .9rem;

            margin: auto auto auto 0;
        
            border: 0;
            border-radius: 10px;
        
            background: var(--purple-500);
            color: var(--white);
        
            cursor: pointer;
        }
        
        button:hover {
            filter: brightness(1.2);
            color: var(--white);
        
            transition: 0.3s;
        }
    }

    @media(max-width: 700px) {
        border-top: 0;
        border-left: 2px solid var(--purple-750);

        height: 80%;
    }
}