.network {
    background: linear-gradient(200deg, #4aa5fb0a, #12111c00 30%),
                linear-gradient(320deg, #7a4bd80a, #12111c00 40%),
                linear-gradient(50deg, #4d38a20a, #12111c00 40%);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 100;
    
    height: 100vh;

    .content {
        position: relative;
        display: flex;
        justify-content: center;
    
        width: 100%;
        max-width: 1080px;
        height: 80vh;
        
        padding: 0 20px;
    }

    @media(max-width: 700px) {
        .content {
            flex-direction: column;

            height: 90vh;
        }
    }
}