<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat.io</title>

    <!-- <link rel="stylesheet" href="../../public/styles/style.css"> -->
</head>
<body>
    <div>
        <ul id="ul">

        </ul>
    </div>

    <form id="form" action="">
        <input id="input" type="text">

        <button type="submit" id="send">Enviar</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();

        let messages = document.getElementById("ul");
        let form = document.getElementById("form");
        let input = document.getElementById("input");

        form.addEventListener("submit", (event) => {
            event.preventDefault();

            if(input.value) {
                socket.emit("chat-message", input.value);
                input.value = '';
            }
        });

        socket.on("chat-message", (msg) => {
            let message = document.createElement("li");
            message.textContent = msg;
            messages.appendChild(message);
        });
    </script>
</body>
</html>