<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Chat.io</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="styles/global.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    
</head>
<body>
    <div class="network">
        <aside>
            <ul>
                <li>
                    <img src="images/avatar.png" alt="Gabriel">
                    <p title="Gabriel">Gabriel</p>
                </li>
                <li>
                    <img src="images/avatar.png" alt="Gabriel">
                    <p title="Gabriel">Gabriel</p>
                </li>
                <li>
                    <img src="images/avatar.png" alt="Gabriel">
                    <p title="Gabriel">Gabriel</p>
                </li>
                <li>
                    <img src="images/avatar.png" alt="Gabriel">
                    <p title="Gabriel">Gabriellllllllllllll</p>
                </li>
            </ul>
        </aside>

        <div class="chat">
            <ul id="ul"></ul>
        
            <form id="form" action="">
                <input id="input" type="text">
                <button type="submit" id="send">Enviar</button>
            </form>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/chat.js"></script>
</body>
</html>