.users {
    display: inline-block;
    width: 250px;
    height: 100%;
    
    overflow-y: auto;
    overflow-x: hidden;

    border: 2px solid var(--purple-750);
    
    &::-webkit-scrollbar {
        width: 8px;
        height: 7px;
        background-color: var(--purple-800);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--purple-600);
    }
    
    .userList {
        margin: 10px 10px 0 10px;

        li {
            height: 45px;
        
            display: flex;
            justify-content: space-between;
            align-items: center;
        
            margin-bottom: 10px;
            padding: 5px 12px;
        
            border-radius: 10px;

            color: var(--purple-300);
        
            background: linear-gradient(90deg, var(--purple-800), #0000);
        
            p {
                max-width: 11ch;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        
        li::after {
            content: "";
            width: 10px;
            height: 10px;
        
            border-radius: 50%;
        
            margin-left: 10px;
        
            background: var(--green-400);
        }
    }

    @media(max-width: 700px) {
        width: auto;
        height: auto;

        overflow-y: hidden;
        overflow-x: auto;

        display: flex;

        .userList {
            display: flex;
            align-items: center;
            
            li {
                width: 178px;
            }
        }
    }
}


